In [2]:
import pandas as pd
import numpy as np

df1 = pd.read_csv('deli.csv')
df2 = pd.read_csv('mt.csv')

df1.head

<bound method NDFrame.head of         match_id  inning         batting_team                 bowling_team  \
0              1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
1              1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
2              1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
3              1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
4              1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
...          ...     ...                  ...                          ...
179073     11415       2  Chennai Super Kings               Mumbai Indians
179074     11415       2  Chennai Super Kings               Mumbai Indians
179075     11415       2  Chennai Super Kings               Mumbai Indians
179076     11415       2  Chennai Super Kings               Mumbai Indians
179077     11415       2  Chennai Super Kings               Mumbai Indians

        over  ball    batsman non_striker      bowler  is_super_over  ...  \
0          1     1  DA Warner    S Dhawan    TS Mills              0  ...
1          1     2  DA Warner    S Dhawan    TS Mills              0  ...
2          1     3  DA Warner    S Dhawan    TS Mills              0  ...
3          1     4  DA Warner    S Dhawan    TS Mills              0  ...
4          1     5  DA Warner    S Dhawan    TS Mills              0  ...
...      ...   ...        ...         ...         ...            ...  ...
179073    20     2  RA Jadeja   SR Watson  SL Malinga              0  ...
179074    20     3  SR Watson   RA Jadeja  SL Malinga              0  ...
179075    20     4  SR Watson   RA Jadeja  SL Malinga              0  ...
179076    20     5  SN Thakur   RA Jadeja  SL Malinga              0  ...
179077    20     6  SN Thakur   RA Jadeja  SL Malinga              0  ...

        bye_runs  legbye_runs  noball_runs  penalty_runs  batsman_runs  \
0              0            0            0             0             0
1              0            0            0             0             0
2              0            0            0             0             4
3              0            0            0             0             0
4              0            0            0             0             0
...          ...          ...          ...           ...           ...
179073         0            0            0             0             1
179074         0            0            0             0             2
179075         0            0            0             0             1
179076         0            0            0             0             2
179077         0            0            0             0             0

        extra_runs  total_runs  player_dismissed dismissal_kind    fielder
0                0           0               NaN            NaN        NaN
1                0           0               NaN            NaN        NaN
2                0           4               NaN            NaN        NaN
3                0           0               NaN            NaN        NaN
4                2           2               NaN            NaN        NaN
...            ...         ...               ...            ...        ...
179073           0           1               NaN            NaN        NaN
179074           0           2               NaN            NaN        NaN
179075           0           1         SR Watson        run out  KH Pandya
179076           0           2               NaN            NaN        NaN
179077           0           0         SN Thakur            lbw        NaN

[179078 rows x 21 columns]>